@font-face {
  font-family: 'Adelle Bold';
  src: url('fonts/Adelle_Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Adelle_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Adelle_Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Adelle_Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Adelle_Bold.svg#c0e1fa2165fee45abc3a74ff7feb0488') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Adelle';
  src: url('fonts/Adelle_Reg.eot'); /* IE9 Compat Modes */
  src: url('fonts/Adelle_Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Adelle_Reg.woff') format('woff'), /* Modern Browsers */
       url('fonts/Adelle_Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Adelle_Reg.svg#99729e3539ef0462a0ca8a01772e9888') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon Grotesque Black';
  src: url('fonts/Brandon_blk.eot'); /* IE9 Compat Modes */
  src: url('fonts/Brandon_blk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Brandon_blk.woff') format('woff'), /* Modern Browsers */
       url('fonts/Brandon_blk.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Brandon_blk.svg#31abb7704a87130091ce57face358af8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('fonts/Brandon_reg.eot'); /* IE9 Compat Modes */
  src: url('fonts/Brandon_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Brandon_reg.woff') format('woff'), /* Modern Browsers */
       url('fonts/Brandon_reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Brandon_reg.svg#50bf5a2005a5412419d6a4b30314e68e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('fonts/Gotham HTF Black.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham HTF Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham HTF Black.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham HTF Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham HTF Black.svg#59f32e2c2365528ff20262e139667c08') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/Gotham HTF Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham HTF Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham HTF Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham HTF Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham HTF Bold.svg#030251e5701d786046d51ed2261d4a74') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham HTF Book.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham HTF Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham HTF Book.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham HTF Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham HTF Book.svg#8815e0559e42d2bb6d63fb542f63fc99') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

