.title{
	&--home-section{
		margin-bottom: 2em;
		font-family: $font--heading;
		font-size: $h3;
		font-size: rem($h3);

		&:after{
			content: '';
			position: relative;
			display: block;
			// margin: 0 auto;
			width: 60px;
			padding-top: em(10);
			border-bottom: 4px solid $red;
		}
	}
}