.title{
	&--section{
		margin-bottom: 2em;

		&:after{
			content: '';
			position: relative;
			display: block;
			margin: 0 auto;
			width: 40px;
			padding-top: rem(10);
			border-bottom: 6px solid $main_color;
		}
	}
}