//Colors
$white: #ffffff;
$off-white: darken($white, 2%);

$black: #202020;

$grey: #515151;
$grey--dark: #3d3d3d;
// $gret--dark: #343434;
$red: #C71614;
$red--dark: darken($red, 10%);
$pink: #f82959;
$pink: #e92b67;
$pink: #e9207a;

$border: darken($white, 10%);

$red: #EE3A43;
$red--dark: darken($red, 10%);

//Grid
$grid__columns: 12;
$grid__max-width: 980px;
$grid__gutter: 20px;

// Breakpoints
$breakpoints: (
	mobile: 480px,
	tablet: 767px,
  	desk: 992px,
  	wide: 1200px
);

// Set to true if you want to add support for IE6 and IE7
$legacy_support_for_ie: false !default; 

$normalize_headings: true !default;

$font__base-size: 16px !default;
$font__line-height: 1.5em;
$type__scale-factor: 1.5em;

$font--serif: 'Georgia', serif;
// $font--serif: 'Merriweather', serif;

$font--sans-serif: 'Montserrat', sans-serif;
$font--body: $font--serif;

$h1: 48px !default;
$h2: 32px !default;
$h3: 24px !default;
$h4: 18px !default;
$h5: 16px !default;
$h6: 14px !default;

$h1__margin: 0.67em 0 !default;
$h2__margin: 0.83em 0 !default;
$h3__margin: 1em 0 !default;
$h4__margin: 1.33em 0 !default;
$h5__margin: 0 0 !default;
$h6__margin: 2.33em 0 !default;

$background: $white !default;
$color: $black !default;


// h1{
//   margin-top: calc__font-margin(2);
//   margin-bottom: calc__font-margin(1);
//   font-size: calc__font-size(3);
//   line-height: calc__line-height(2);

//   @extend %font-family--main;
// }