.c-band{
	width: 100%;
}

@each $palette, $color in $palettes {
	.c-band--#{$palette}{
		background-color: palette($palette);

		@if(palette($palette, 2)){
			&2{
				background-color: palette($palette, 2);
			}
		}

		@if(palette($palette, 3)){
			&3{
				background-color: palette($palette, 3);
			}
		}
	}
}