.c-page-head{
	position: relative;
}

.c-page-head--home{
	padding: ($space * 20) ($space * 3) ($space * 20);
	background: url('/assets/dist/img/devices.svg') no-repeat center; 
}

	.c-page-head__title{
		@include rem(font-size, 48px);
		@include rem(line-height, 56px);
	}