.c-social{
	font-size: 24px;
	font-size: rem(24px);
	text-align: center;
}

.c-social--header{
	position: absolute;
	left: 0;
}

	.c-social__link{
		margin-right: 8px;
		position: relative;
		text-decoration: none;

		&:last-child{
			margin-right: 0;
		}

		&:hover{
			transition: color 0.4s ease-in-out;
		}
	}