<footer class="c-band c-band--gradient u-color-white u-align-center">
	<section class="o-wrapper u-pad-t4 u-pad-b4">

		<a class="c-logo u-inline-block u-space-b2" href="">
			<img class="c-logo__img" src="/assets/dist/img/logo--white.svg">
		</a>

		<div class="c-social">
			<a class="c-social__link stevicons stevicons-twitter" href="http://twitter.com/steven_adams" target="_blank"></a>
			<a class="c-social__link stevicons stevicons-linkedin" href="https://linkedin.com/pub/steven-adams/a2/6b6/241" target="_blank"></a>
			<a class="c-social__link stevicons stevicons-github" href="http://github.com/stevenadams" target="_blank"></a>
			<a class="c-social__link stevicons stevicons-rdio" href="http://rdio.com/people/steven_adams" target="_blank"></a>
			<a class="c-social__link stevicons stevicons-instagram" href="http://instagram.com/steven.adams" target="_blank"></a>
		</div>


	</section>
	<section class="o-wrapper u-pad-t2 u-pad-b2">
		&copy; Copyright 2015 Steven Adams
	</section>
</footer>
