<!--<main class="site-wrap">-->
<nav class="site-nav">
	<div class="site-nav__inner">
		<a class="site-nav__home" href="">
			<img class="site-nav__logo" src="/assets/dist/img/logo.svg">
		</a>

		<ul class="site-nav__menu">
			<li class="site-nav__item"><a class="site-nav__link" href="">about</a></li>
			<li class="site-nav__item"><a class="site-nav__link" href="">work</a></li>
			<li class="site-nav__item"><a class="site-nav__link" href="">blog</a></li>
			<li class="site-nav__item"><a class="site-nav__link" href="">contact</a></li>
		</ul>
	</div>
</nav>

<header class="page-header page-header--home text--white">
	<div class="grid grid--table">
		<div class="page-header__title">
			<h1>Steven Adams</h1>
			<hr class="hr--thick-pink">
			<h2 class="text--italic">Front-End Developer &plus; Prototyper</h2>
		</div>
	</div>
</header>

<!--</main>-->
