<!--<main class="site-wrap">-->
<nav class="c-page-nav">
	<div class="o-wrapper">
		<a class="c-page-nav__home" href="">
			<img class="c-page-nav__logo" src="/assets/dist/img/logo.svg">
		</a>

		<button class="c-page-nav__toggle color--white stevicons stevicons-menu"></button>
		<ul class="c-page-nav__menu">
			<li class="c-page-nav__item"><a class="c-page-nav__link" href="">about</a></li>
			<!-- <li class="c-page-nav__item"><a class="c-page-nav__link" href="">work</a></li> -->
			<li class="c-page-nav__item"><a class="c-page-nav__link" href="">blog</a></li>
			<li class="c-page-nav__item"><a class="c-page-nav__link stevicons stevicons-email" href=""></a></li>

		</ul>
	</div>
</nav>

<div class="c-band c-band--red">
	<header class="o-wrapper c-page-head c-page-head--home u-color--white">
		<h1 class="c-page-head__title u-align-center">
			Front-End Development<br>
			&amp; UX Enhancement
		</h1>
	</header>
</div>

<!--</main>-->
