<!--<main class="site-wrap">-->
<nav class="site-nav">
	<div class="grid">
		<a class="grid__col grid__col--1 site-nav__home" href="">
			<img class="site-nav__logo" src="/assets/dist/img/logo.svg">
		</a>

		<ul class="site-nav__menu">
			<li class="site-nav__item"><a class="site-nav__link" href="">about</a></li>
			<li class="site-nav__item"><a class="site-nav__link" href="">work</a></li>
			<li class="site-nav__item"><a class="site-nav__link" href="">blog</a></li>
			<li class="site-nav__item"><a class="site-nav__link" href="">contact</a></li>
		</ul>
	</div>
</nav>

<header class="page-header page-header--home">
	<div class="grid">
		<h1 class="page-header__title--home">Steven Adams</h1>
		<h2 class="text--h4">Front-End Developer</h2>
	</div>
</header>

<!--</main>-->
