<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    

    <title>Steven Adams · UI/UX Developer · {{page.title}}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300italic,700italic,700,300,500' rel='stylesheet' type='text/css'>

    <!-- Style Sheet -->
    <link rel='stylesheet' id='theme-css'  href='{{ site.url }}/assets/dist/css/build.min.css' type='text/css' media='all' />
</head>
