<nav class="c-page-nav">
	<div class="o-wrapper u-pos-relative">
		<a class="c-logo u-block" href="/">
			<img class="c-logo__img u-block" src="/assets/dist/img/logo.svg">
		</a>

		<button class="c-page-nav__toggle color--white stevicons stevicons-menu"></button>
		<ul class="c-page-nav__menu">
			<li class="c-page-nav__item"><a class="c-page-nav__link" href="/#about">about</a></li>
			<!-- <li class="c-page-nav__item"><a class="c-page-nav__link" href="">work</a></li> -->
			<li class="c-page-nav__item"><a class="c-page-nav__link" href="/#blog">blog</a></li>
			<li class="c-page-nav__item"><a class="c-page-nav__link stevicons stevicons-email" href="mailto:yo@stevenad.ms"></a></li>

		</ul>
	</div>
</nav>