<nav class="c-page-nav c-band--red">
	<div class="o-wrapper">
		<a class="c-page-nav__home" href="/">
			<img class="c-page-nav__logo" src="/assets/dist/img/logo.svg">
		</a>

		<button class="c-page-nav__toggle color--white stevicons stevicons-menu"></button>
		<ul class="c-page-nav__menu">
			<li class="c-page-nav__item"><a class="c-page-nav__link" href="">about</a></li>
			<!-- <li class="c-page-nav__item"><a class="c-page-nav__link" href="">work</a></li> -->
			<li class="c-page-nav__item"><a class="c-page-nav__link" href="">blog</a></li>
			<li class="c-page-nav__item"><a class="c-page-nav__link stevicons stevicons-email" href="mailto:yo@stevenad.ms"></a></li>

		</ul>
	</div>
</nav>