@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function calc--font-size($exponent){
  @return pow($type__scale-factor, $exponent);
}

@function calc--font-margin($exponent){
  @return pow($type__line-height, $exponent);
}

@function calc--line-height($exponent){
  @return $type__line-height * $exponent;
}

@function em($pxval, $base: $font__base-size) {
  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}

@function rem($pxval) {
  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }

  $base: $font__base-size;
  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

// @function percentage($target, $container){
//   @return ($target / $container) * 100%;
// }

@function columns($target, $total){
	$target_val: ($target * $columns) + (($target - 1) * $gutter-width);
	$total_val: ($total * $columns) + (($total - 1) * $gutter-width);
	@return ($target_val / $total_val) * 100%;
}