.u-align-left{
	text-align: left;
}

.u-align-right{
	text-align: right;
}

.u-align-center{
	text-align: center !important;
}

.u-light{
	font-weight: 300;
}

.u-medium{
	font-weight: 500;
}

.u-bold{
	font-weight: 700;
}

.u-uppercase{
	text-transform: uppercase;
}