.c-social{
	font-size: 24px;
	font-size: rem(24px);
	text-align: center;
}

.c-social--header{
	position: absolute;
	left: 0;
}

	.c-social__link{
		// color: palette('white');
		margin-right: $space;
		position: relative;
		text-decoration: none;
		transition: color 0.4s ease-in-out;

		&:last-child{
			margin-right: 0;
		}
	}

	.c-social__link--{
		@each $profile, $color in $social-colors {
			&#{$profile}{
				// color: $color;

				&:hover{ color: $color; }
			}
		}
	}
