.c-card{
	// border-left-style: solid;
	// border-left-width: $space;
	border-radius: 2px;
	background: palette('white');
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

	.c-card__media{
		display: block;
		position: relative;
		padding-bottom: 56.25%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.c-card__category{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
