$space: 8px;

$base-font-size: 16px !default;
$base-font-family: 'Roboto', sans-serif;
$base-line-height: 1.5;

$heading-font-family: 'Roboto Condensed', sans-serif;

$heading-size-1: 40px;
$heading-size-2: 32px;
$heading-size-3: 24px;
$heading-size-4: 18px;
