$space: 8px;

$base-font-size: 16px !default;
$base-font-family: 'Roboto', sans-serif;
$base-line-height: 1.5;

$heading-size-1: 32px;
$heading-size-2: 24px;
$heading-size-3: 18px;
$heading-size-4: 16px;
