.u-pad-{
	@for $i from 0 through 16{
		&#{$i}{
			padding-top: $space * $i; 
			padding-bottom: $space * $i;
			padding-left: $space * $i;
			padding-right: $space * $i; 
		}
	}
}

.u-pad-t{
	@for $i from 0 through 16{
		&#{$i}{
			padding-top: $space * $i;
		}
	}
}

.u-pad-r{
	@for $i from 0 through 16{
		&#{$i}{
			padding-right: $space * $i;
		}
	}
}

.u-pad-b{
	@for $i from 0 through 16{
		&#{$i}{
			padding-bottom: $space * $i;
		}
	}
}

.u-pad-l{
	@for $i from 0 through 16{
		&#{$i}{
			padding-left: $space * $i;
		}
	}
}

.u-unpad{
	padding: 0;
}