$responsive: true !default;
$responsive__mobile-first: false !default;


$grid__gutter: 32px !default;


/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
$use-silent-classes:  false !default;
$grid__class-type: if($use-silent-classes, unquote("%"), unquote("."));

/**
 * Would you like push and pull classes enabled?
 */
$grid__push-classes: true !default;
$grid__pull-classes: false !default;


/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
$breakpoints: (
    's' '(max-width: 480px)',
    'm' '(min-width: 481px) and (max-width: 1023px)',
    'l' '(max-width: 1023px)',
    'xl' '(min-width: 1024px)'
) !default;


/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
$breakpoint-has-widths: ('s', 'm', 'l', 'xl') !default;
$breakpoint-has-push:   ('s', 'm', 'l', 'xl') !default;
$breakpoint-has-pull:   ('s', 'm', 'l', 'xl') !default;