.bg{
	&--grey{background: $grey; color: $white;}
	// &--grey-light{background: $grey--light; color: $black;}
	&--grey-dark{background: $grey--dark; color: $white;}
}

.text{
	&--center{text-align: center;}
}

.text-columns{
	-webkit-column-gap: 5em;
	-moz-column-gap: 5em;
	column-gap: 5em;

	&--2{
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
	}
}

.home-section{
	// padding: 3.75em 0;

	& + &{
		padding-top: 0;
	}
}

.block{
	position: relative;
	display: block;
	overflow: hidden;
}

.site-nav{
	z-index: $z-index-7--nav;
	position: absolute;
	display: block;
	width: 100%;
	padding: 1.25em 0;
	//background: $black;

	color: $black;

	@extend %clearfix;

	&__home{
		position: relative;
		display: block;
		float: left;
		max-width: 220px;
	}

	&__logo{
		display: block;
		max-width: 100%;
	}
	@mixin padding-height($size) {
	  $padding: (($size - $font__base-size) / 2);
	  $padding: rem($padding);
	  padding-top: $padding;
	  padding-bottom: $padding;
	}

	&__menu{
		position: relative;
		display: block;
		float: right;
		margin: 0;
		padding: 0;

		list-style: none;
	}

	&__item{
		position: relative;
		display: block;
		float: left;
		margin-right: 1em;

		font-family: $font--sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		//line-height: 3.75em;

		&:last-child{
			margin-right: 0;
		}
	}

	&__link{	
		display: block;
		@include padding-height(60);
	
		border-bottom: 2px solid transparent;

		color: inherit;
		text-decoration: none;

		@include transition(border 0.4s ease-in-out);

		&:hover{
			border-bottom-color: $red;
			color: inherit;
		}
	}
}

.page-header{
	position: relative;
	display: block;
	width: 100%;

	color: $black;

	&--home{
		padding: rem(150) 0 rem(40);

		border-bottom: 1px solid $border;

		text-align: center;
	}

	&__title{
		&--home{
			
		}
	}
}


.experience{
	text-align: center;

	&__block{
		display: inline-block;
		float: none;
	}

	&__image{
		position: relative;
		display: block;
		margin: 0 auto em(32,16);
		max-width: 100%;
		max-height: 100px;
	}
}



.social{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;

	list-style: none;

	&--footer{
		float: right;
	}
}

.social__item{
	position: relative;
	display: inline-block;
}

.social__link{
	position: relative;

	color: $red--dark;
	text-decoration: none;

	&:hover{
		color: darken($red--dark, 6%);

		@include transition(color 0.4s ease-in-out);
	}
}



.block{
	// padding: 3.75em 0;
}

.about{

	background: $off-white;


	&__bio{
		float: right;
		padding: 3.75em 2em;
		// background: $grey--light;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			display: block;
			height: 100%;
			width: 100%;

			background: url('img/about.jpg');
			background-size: cover;
			background-position: left;
			// background-size: cover;
		}
	}
}

.experience{
	text-align: center;

	&__block{

	}

	&__image{
		position: relative;
		display: block;
		margin: 0 auto rem(32);
		max-width: 100%;
		max-height: 100px;
	}
}

.project{
	margin-bottom: rem(20);

	&:nth-child(3n+3){
		margin-right: 0;

		&+.project{
			clear: both;
		}
	}

	&__agency{
		position: relative;
		display: block;
	}
}
