.hr--thick-pink{
	background: $pink;
	border: none;
	height: 10px;
	margin: 10px auto;
	width: 80px;
}

.bg{
	&--grey{background: $grey; color: $white;}
	&--off-white{background: $off-white;}
	&--grey-dark{background: $grey--dark; color: $white;}
}

.text{
	&--pink{color: $pink;}
	&--white{color: $white;}
	&--center{text-align: center;}
	&--italic{font-style: italic;}
}

.text-columns{
	-webkit-column-gap: 5em;
	-moz-column-gap: 5em;
	column-gap: 5em;

	&--2{
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
	}
}

.home-section{
	// padding: 3.75em 0;

	& + &{
		padding-top: 0;
	}
}

.block{
	position: relative;
	display: block;
	overflow: hidden;
}

.site-nav{
	z-index: $z-index-7--nav;
	position: absolute;
	display: block;
	width: 100%;
	padding: 1.25em 0;
	// background: rgba($black,0.4);

	color: $white;

	&__inner{
		position: relative;
		margin: 0 auto;
		width: 90%;

		@extend %clearfix;
	}

	&__home{
		position: relative;
		display: block;
		float: left;
		max-width: 60px;
	}

	&__logo{
		display: block;
		max-width: 100%;
	}
	@mixin padding-height($size) {
	  $padding: (($size - $font__base-size) / 2);
	  $padding: rem($padding);
	  padding-top: $padding;
	  padding-bottom: $padding;
	}

	&__menu{
		position: relative;
		display: block;
		float: right;
		margin: 0;
		padding: 0;

		list-style: none;
	}

	&__item{
		position: relative;
		display: block;
		float: left;
		margin-right: 1em;

		font-family: $font--sans-serif;
		letter-spacing: 1px;
		line-height: 1em;
		text-transform: uppercase;
		//line-height: 3.75em;

		&:last-child{
			margin-right: 0;
		}
	}

	&__link{	
		display: block;
		@include padding-height(60);

		color: inherit;
		text-decoration: none;

		@include transition(border 0.4s ease-in-out);

		&:after{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background: $pink;
			content: '';
			@include opacity(0);
			
			@include transition((opacity 0.4s ease-in-out, bottom 0.4s ease-in-out));
		}

		&:hover{
			color: inherit;

			&:after{
				@include opacity(100);
				bottom: 10px;
			}
		}
	}
}

.page-header{
	position: relative;
	display: block;
	width: 100%;


	&--home{
		// height: 100%;
		padding: rem(212) 0 rem(120);

		// border-bottom: 1px solid $border;

		text-align: center;

		background: url('img/header--home.jpg');
		background-size: cover;

	}

	&__title{
		display: table-cell;
		vertical-align: middle;
		font-size: 48px;
		font-size: rem(48);
		margin-bottom: 0;

		&--home{
			
		}
	}
}

.social-links{
	font-size: 24px;
	font-size: rem(24px);
	text-align: center;
}

.experience{
	text-align: center;
	background: $pink;

	&__block{
		display: inline-block;
		float: none;
	}

	&__image{
		position: relative;
		display: block;
		margin: 0 auto em(32,16);
		max-width: 100%;
		max-height: 100px;
	}
}



.social{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;

	list-style: none;

	&--footer{
		float: right;
	}
}

.social__item{
	position: relative;
	display: inline-block;
}

.social__link{
	position: relative;

	color: $red--dark;
	text-decoration: none;

	&:hover{
		color: darken($red--dark, 6%);

		@include transition(color 0.4s ease-in-out);
	}
}



.block{
	padding: 3.75em 0;
}

.home-about{

}

.experience{
	text-align: center;

	&__block{

	}

	&__image{
		position: relative;
		display: block;
		margin: 0 auto rem(32);
		max-width: 100%;
		max-height: 100px;
	}
}

.project{
	margin-bottom: rem(20);

	&:nth-child(3n+3){
		margin-right: 0;

		&+.project{
			clear: both;
		}
	}

	&__agency{
		position: relative;
		display: block;
	}
}
